*,
*:before,
*:after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.42857143;
  color: #747474;
  background-color: #f7f8f9;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Arvo', serif;
  font-weight: normal;
  color: #212121;
}

.container {
  width: 90%;
  max-width: 860px;
  margin: 0 auto;
}

.items {
    display: flex;
    flex-direction: column;
}

.item {
  margin-bottom: 30px;
  background: #fff;
  border-radius: 8px;
  overflow: auto;
  flex: 1 1 auto;
}

.image {
  width: 30%;
  float: left;
}

.description h3 {
    margin: 10px 0px 5px 0;
    font-size: 22px;
    display: inline;
    margin-right: 15px;
}